In [370]:
import numpy as np

In [371]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score, classification_report

In [372]:
fruit = 'data/fruit.xlsx'
data = pd.read_excel(fruit)

In [373]:
print("Data awal:")
print(data.head())

Data awal:
   diameter  weight  red  green  blue    name
0      2.96   86.76  172     85     2  orange
1      3.91   88.05  166     78     3  orange
2      4.42   95.17  156     81     2  orange
3      4.47   95.60  163     81     4  orange
4      4.48   95.76  161     72     9  orange

In [374]:
le = LabelEncoder()

In [375]:
data['name'] = le.fit_transform(data['name'])

In [376]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [377]:
y= y.reshape(len(y),)

In [378]:
le.classes_

array(['grapefruit', 'orange'], dtype=object)

In [379]:
for i,name in enumerate(le.classes_):
    print(name, "=", i)

grapefruit = 0
orange = 1

In [380]:
scaler = StandardScaler()
scaler = scaler.fit(x)

In [381]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=0)

In [382]:
model = Perceptron(max_iter=100, tol=0.2)

In [383]:
percep = model.fit(x_train, y_train)

In [384]:
y_pred = model.predict(x_test)

In [385]:
y_pred

array([0, 1, 1, ..., 0, 0, 1])

In [386]:
accuracy = accuracy_score(y_test, y_pred)
print("\nAkurasi model:", accuracy)
print("\nLaporan klasifikasi:")
print(classification_report(y_test, y_pred))

Akurasi model: 0.9245

Laporan klasifikasi:
              precision    recall  f1-score   support

           0       0.91      0.94      0.93      2007
           1       0.94      0.91      0.92      1993

    accuracy                           0.92      4000
   macro avg       0.93      0.92      0.92      4000
weighted avg       0.92      0.92      0.92      4000

In [387]:
percep.score(x,y)

0.9245

In [388]:
data_baru = [[100,0,0,0,0]]
scale = scaler.transform(data_baru)
data_prediksi = model.predict(scale)
encode =le.inverse_transform(data_prediksi)
print(encode[0])
print(scale)

grapefruit
[[ 46.21973439  -5.99270267 -14.74706968  -6.49227806  -1.25410263]]

In [389]:
data

      diameter  weight  red  green  blue  name
0         2.96   86.76  172     85     2     1
1         3.91   88.05  166     78     3     1
2         4.42   95.17  156     81     2     1
3         4.47   95.60  163     81     4     1
4         4.48   95.76  161     72     9     1
...        ...     ...  ...    ...   ...   ...
9995     15.35  253.89  149     77    20     0
9996     15.41  254.67  148     68     7     0
9997     15.59  256.50  168     82    20     0
9998     15.92  260.14  142     72    11     0
9999     16.45  261.51  152     74     2     0

[10000 rows x 6 columns]